@import "_vars.scss";

@function calc-card-bg-pos-y($n) {
  @return - (($n - 1) * $card-height);
}

.card {
  background-color: white;
  background-image: url("../images/sprite.card.svg");
  background-size: 100% auto;
  width: $card-width;
  height: $card-height;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}
.card.clover {
  background-image: url("../images/sprite.clubs.svg");
  background-position-y: 0;
}
.card.spade {
  background-image: url("../images/sprite.spade.svg");
  background-position-y: -$card-height;
}
.card.heart {
  background-image: url("../images/sprite.hearts.svg");
  background-position-y: -(2 * $card-height);
}
.card.diamond {
  background-image: url("../images/sprite.dice.svg");
  background-position-y: -(3 * $card-height);
}

.card.cA {
  background-position-y: 0px;
}
.card.c2 {
  background-position-y: calc-card-bg-pos-y(2);
}
.card.c3 {
  background-position-y: calc-card-bg-pos-y(3);
}
.card.c4 {
  background-position-y: calc-card-bg-pos-y(4);
}
.card.c5 {
  background-position-y: calc-card-bg-pos-y(5);
}
.card.c6 {
  background-position-y: calc-card-bg-pos-y(6);
}
.card.c7 {
  background-position-y: calc-card-bg-pos-y(7);
}
.card.c8 {
  background-position-y: calc-card-bg-pos-y(8);
}
.card.c9 {
  background-position-y: calc-card-bg-pos-y(9);
}
.card.c10 {
  background-position-y: calc-card-bg-pos-y(10);
}
.card.cJ {
  background-position-y: calc-card-bg-pos-y(11);
}
.card.cQ {
  background-position-y: calc-card-bg-pos-y(12);
}
.card.cK {
  background-position-y: calc-card-bg-pos-y(13);
}
